*,
*:before,
*:after {
	box-sizing: inherit;
}
dt a:active,
dt a:visited,
dt a {
	color: #111;
	text-decoration: none;
}

dt a:hover {
	text-decoration: underline;
}

h2 {
	text-align: center;
}

h6 {
	text-align: center;
}

p {
	margin-left: 0.5em;
}

.app-header {
	margin-left: 25px;
}

label,
select {
	margin-top: 10px;
	margin-left: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: large;
}

/* ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
} */

li a {
	color: white;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.55);
	text-align: center;
	padding: 14px 150px;
	text-decoration: none;
}

li a:hover {
	color: rgb(150, 150, 150);
}

ul.nav {
	color: #013166;
	background-color: #00000020;
	text-align: center;
	list-style-type: none;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	box-shadow: rgba(180, 215, 253, 0.157) 0px 5px,
		rgba(180, 215, 253, 0.3) 0px 10px, rgba(180, 215, 253, 0.2) 0px 15px,
		rgba(180, 215, 253, 0.1) 0px 20px, rgba(180, 215, 253, 0.05) 0px 25px;
}
/* li {
	float: left;
} */

/*  */
/* homepage */
/*  */

.homepage {
	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
}
.logo {
	margin: auto;
}

.homepage-paragraph {
	text-align: center;
	font-size: larger;
	font-weight: 500;
	color: #f2f2f2;
	background: #a5d0f0;
	font-size: 75px;
	line-height: 74px;
	font-weight: 700;
	margin: 0 5px 24px;
	float: left;
	padding: 10px;
	margin: 0 5px 24px;
}

.homepage-header {
	color: #f2f2f2;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 200px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	background-color: #b4d7fe;
	background-repeat: no-repeat;
	width: 65%;
	margin-left: 250px;
	margin-bottom: 100px;
}

.homepage-tagline {
	font-size: 75px;
	color: #013167;
	text-shadow: 1px 0px 2px #dcdcdc;
}

.button-wrapper {
	margin-top: 350px;
}

.button-51 {
	background-color: transparent;
	border: 1px solid #266db6;
	box-sizing: border-box;
	color: #013167;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 24px;
	padding: 16px 23px;
	margin-left: 400px;
	position: relative;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
	outline: 0;
}

.button-51:hover {
	background-color: transparent;
	cursor: pointer;
}

.button-51:before {
	background-color: #d5edf6;
	content: '';
	height: calc(100% + 3px);
	position: absolute;
	right: -7px;
	top: -9px;
	transition: background-color 300ms ease-in;
	width: 100%;
	z-index: -1;
}

.button-51:hover:before {
	background-color: #007bff64;
}

@media (min-width: 768px) {
	.button-51 {
		padding: 16px 32px;
	}
}

.footer {
	margin-top: 50px;
	background-color: rgba(150, 150, 150, 0.743);
	height: 75px;
}
/*  */
/* articles */
/*  */

.articles {
	/* background: linear-gradient(#b4d7fe #013167); */
	background: linear-gradient(#b4d7fe63, #0265d67c);
}
.article-card-wrapper {
	display: grid;
	grid-template-columns: 380px 380px 380px;
	justify-content: center;
	row-gap: 10px;
	column-gap: 10px;
}

.article-card {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: grey;
	border-radius: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
	margin-right: 0.3em;
}

.votes-comments-articles {
	display: flex;
}

.article-votes {
	flex-grow: 2;
	align-items: flex-end;
	justify-content: end;
	align-self: flex-end;
}
.articles-comments {
	align-items: flex-start;
	margin-right: 1em;
}

.articles-body {
	text-align: center;
}

.single-article-title {
	text-align: center;
}

.single-article-author {
	text-align: end;
	padding-right: 1em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	text-decoration-line: overline;
	text-decoration-color: #333;
}

.single-article-body {
	display: flex;
	flex-direction: column;
	font-size: large;
	font-weight: 300;
	line-height: 1.5em;
	line-break: strict;
	padding-top: 1em;
	padding-left: 20em;
	padding-right: 20em;
	text-align: justify;
}

/*  */
/* comments  */
/*  */
.comments {
	display: flex;
	flex-direction: column;
}

.comment-page-author {
	font-size: 1.1em;
}

.comment-page-body {
	border-style: groove;
	border-radius: 0.3em;
	padding: 0.5em;
}

.comment-page-votes {
	align-self: flex-end;
	padding-right: 0.5em;
}

.form-box label {
	display: block;
	text-align: center;
	font-size: 18px;
	margin-top: 3%;
	font-size: larger;
}

.form-box input {
	display: block;
	height: 20%;
	width: 50%;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
	margin-left: 25%;
	border: 3;
	border-radius: 5px;
	border-color: #dbdad9;
	font-size: 20px;
}

.submit-button {
	display: grid;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #0d172a;
	cursor: pointer;
	font-size: 1.2em;
	margin-left: 46%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #0d172a solid;
	text-decoration-thickness: auto;
	transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 6px rgb(166, 175, 195);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.submit-button :hover {
	background-color: #013167;
	color: #fff;
}

@media (min-width: 768px) {
	.submit-button {
		font-size: 1.125rem;
		padding: 1rem 2rem;
	}
}
.posted-comment {
	text-align: center;
}

.delete-comment {
	display: grid;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #0d172a;
	cursor: pointer;
	font-size: 1.2em;
	margin-top: 1%;
	margin-bottom: 1%;
	font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #0d172a solid;
	text-decoration-thickness: auto;
	transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 6px rgb(166, 175, 195);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-left: 89%;
	width: 10%;
	height: 2.8rem;
	font-size: 14px;
	text-align: center;
	padding-bottom: 1%;
}

/*  */
/* topics  */
/*  */

.topics {
	background: linear-gradient(#b4d7fe63, #0265d67c);
}

.topics-header {
	text-align: center;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.topic-links-outer {
	display: flex;
	text-align: center;
	padding-top: 1em;
}

.topic-links-inner {
	margin: auto;
}

.topic-links {
	display: grid;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #0d172a;
	cursor: pointer;
	font-size: 10em;
	font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #0d172a solid;
	text-decoration-thickness: auto;
	transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 6px rgb(166, 175, 195);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.topic-links:hover {
	background-color: #013167;
	color: #fff;
}

@media (min-width: 768px) {
	.topic-links {
		font-size: 1.125rem;
		padding: 1rem 2rem;
	}
}

.topic-icon {
	height: 175px;
	margin-bottom: 50px;
}

/*  */
/* errors */
/*  */
.error-nf {
	display: flex;
}

.not-found {
	margin: 1em;
	font-size: 3em;
	text-align: center;
}

.bad-request {
	text-align: justify;
}

/*  */
/* media queries */
/*  */
@media screen and (min-width: 1170px) {
	/* nav {
		text-align: center;
		margin: 0 auto;
	}
	li {
		list-style-type: none;
		overflow: hidden;
	} */

	/* .nav li {
		font-size: 1.5em;
		padding-left: 10%;
		padding-right: 10%;
		display: inline-block;
		float: none;
		margin: 0 auto;
		color: rgb(255, 255, 255);
		text-decoration: none;
	} */

	.article-card-wrapper {
		display: grid;
		grid-template-columns: 380px 380px 380px;
		justify-content: center;
	}

	.article-card {
		display: flex;
		flex-direction: column;
		border-style: solid;
		border-color: grey;
		border-radius: 2em;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		margin-left: 0.2em;
		margin-right: 0.3em;
		padding: 1%;
	}

	.article-card a,
	.article-card a:active,
	.article-card a:visited {
		color: #333;
		text-decoration: none;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.128);
	}

	.article-card a:hover {
		color: #013167;
		/* color: #b4d7fe;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.128); */
	}

	.article-card:hover {
		border-color: #c9c8c7;
	}

	.single-article-title {
		padding-top: 1%;
		text-align: center;
		font-weight: 600;
	}

	.single-article-author {
		text-align: end;
		font-weight: 500;
		padding-right: 1em;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
		text-decoration-line: overline;
		text-decoration-color: #333;
	}

	.single-article-body {
		font-size: large;
		font-weight: 300;
		line-height: 1.5em;
		line-break: strict;
	}

	dt {
		padding-left: 1%;
		padding-bottom: 0.2%;
		font-weight: 400;
	}
}

@media screen and (max-width: 770px) {
	/* nav {
		text-align: center;
		margin: 0 auto;
	}

	li {
		list-style-type: none;
		overflow: hidden;
		background-color: #333;
	}

	.nav li {
		display: inline-block;
		float: none;
		margin: 0 auto;
		color: rgb(255, 255, 255);
		text-decoration: none;
	}

	li a:hover {
		background-color: #111;
	} */

	.single-article-title {
		text-align: start;
		padding-left: 0.3em;
	}
	.single-article-author {
		font-size: small;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
		text-decoration-line: overline;
		text-decoration-color: #333;
	}

	.single-article-body {
		text-align: start;
		padding-left: 4%;
		padding-right: 4%;
		/* margin-right: 5em;
		margin-left: 1em; */
		font-weight: 300;
		font-size: smaller;
		line-height: 1.5em;
		line-break: strict;
		padding-bottom: 3%;
	}
	dt {
		font-size: smaller;
		font-weight: 400;
		padding-top: 0.5%;
		padding-left: 0.5%;
	}
}
