*,
*:before,
*:after {
	box-sizing: inherit;
}

h2 {
	text-align: center;
}

h3 {
	padding-left: 0.3em;
}

p {
	margin-left: 0.5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

ul.nav {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.app-header {
	text-align: center;
}

.article-card {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: grey;
	border-radius: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.2em;
	margin-right: 0.3em;
}

.votes-comments-articles {
	display: flex;
}

.article-votes {
	flex-grow: 2;
	align-items: flex-end;
	justify-content: end;
	align-self: flex-end;
	/* /* text-align: right;
	margin-right: 1em; */
}
.articles-comments {
	align-items: flex-start;
	margin-right: 1em;
}

.articles-body {
	text-align: center;
}

.topics-header {
	text-transform: capitalize;
}

.single-article-body {
	text-align: start;
	padding-left: 1em;
	line-height: 1.5em;
	line-break: strict;
}

.single-article-author {
	text-align: end;
	padding-right: 1em;
}
